
.container {
    margin: auto;
    width: 50%;
  }
  
  .form-elements{
    margin: 2em;
    width: 100%;
  }
  
  .form-elements input, .form-elements select{
    padding: 5px;
    margin-left: 5px;
  }
  
  button {
    margin: 2em;
  }