<div class="container" *ngIf="config">
  <form #f="ngForm">
    <div *ngFor="let data of config.items">
      <div class="form-elements" *ngIf="data.type == 'TextField'">
        <label>{{data.label}}</label>
        <input type="text" name="{{data.name}}" [(ngModel)]="selectedValues.name">
      </div>
      <div class="form-elements" *ngIf="data.type == 'DropDown'">
        <label>{{data.label}}</label>
        <select [(ngModel)]="data.option" name="{{data.name}}">
          <option value="{{option}}" *ngFor="let option of data.values">{{option}}</option>
        </select>
      </div>
    </div>
    <button type="button" (click)="onFormSubmit(f)">Submit</button>
  </form>
</div>
<div *ngIf="!config">no data to show</div>